.inputPlace {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 45px;
    margin-right: 10px;
}

.typeInput {
    height: 35px;
    width: 260px;
    background-color: #EDDFB3;
    opacity: 0.9;
    border-radius: 5px;
    border: none;
}

.btn {
    margin-top: 8px;
    height: 20px;
    width: 20px;
    border-radius: 5px;
    border: none;
    background-color: #EDDFB3;
    color: var(--coffee-color);
    cursor: pointer;
}